.env
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
urls.cpython-312.pyc
__pycache__/
*.py[cod]
*$py.class
__init__.py
WebPersonal/WebPersonal/__pycache__/urls.cpython-312.pyc
WebPersonal/WebPersonal/__pycache__/settings.cpython-312.pyc
WebPersonal/db.sqlite3
WebPersonal/Portfolio/migrations/0001_initial.py
WebPersonal/Portfolio/tests.py
WebPersonal/Portfolio/migrations
WebPersonal/db.sqlite3
WebPersonal/WebPersonal/__pycache__/settings.cpython-312.pyc
WebPersonal/WebPersonal/__pycache__/urls.cpython-312.pyc
