<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Mi web personal {% endblock %}</title>
</head>
<body>
    
    <h1>Mi Web Personal</h1>
    
    
    <ul>
        <li><a href="{% url 'Home' %}">Portada</a></li>
        <li><a href="{% url 'About' %}">Acerca de</a></li>
        <li><a href="{% url 'Contact' %}">Contacto</a></li>
        <li><a href="{% url 'Portfolio' %}">Portfolio</a></li>

    </ul>
    
    {% block content %}{% endblock %}
    
</body>
</html>